/*  landscape table */
@media (min-width: 961px) and (max-width: 1199px) {
  .desktop-hidden {
    display: none !important;
  }

  /* .mobile-hidden {
    display: inherit;
  } */

  #renovations-tabs .button {
    padding: 16px 20px;
  }

  #renovations-tabs .tabs {
    margin-bottom: 44px;
  }
}