.banner {
  height: 854px;
  box-sizing: border-box;

  display: flex;
  gap: 32px;
  /* для media-запроса изменить flex-wrap! */

  background-image: url("/assets/images/banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-origin: content-box;
  background-position: bottom;
}

.banner-title {
  margin: 0;

  font: 80px/100px "Montserrat Medium";
}

.banner-content {
  padding-top: 20px;
  height: 180px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner-description {
  margin: 0;
  padding: 0;

  font-size:  16px;
  line-height: 20px;
  font-family: "Montserrat Regular";
  letter-spacing: -0.5%;
}

.banner-footer {
  height: 52px;

  display: flex;
  align-items: center;
  gap: 24px;
}

.banner-footer button {
  background-color: var(--orange-color);
  height: 52px;
  /* appearance: none; */
  border: 0;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  color: var(--white-color);
}

.banner-footer-description {
  margin: 0;

  font-size:  12px;
  line-height: 16px;
  font-family: "Montserrat Regular";
  letter-spacing: -0.5%;
  color: var(--gray-color);
}