.contacts .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}

.contacts-container {
  padding: 16px;
  max-width: 760px;

  flex-basis: 760px;
  flex-shrink: 2;

  display: flex;
  flex-direction: column;
  gap: 24px;

  border-radius: 12px;
  background-image: url('/renuflat/assets/images/contacts-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contacts-form {
  max-width: 400px;

  display: flex;
  flex-direction: column;
  gap: 16px;  
}

.contacts-form-title {
  max-width: 400px;

  font: 44px/56px "Montserrat Medium";
}

.contacts-form-input {
  height: 52px;
  max-width: 80%;
  min-width: 250px;
  display: inline-block;

  color: var(--black-color);
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--black-color);
}

.contacts-form-input::placeholder {
  font: 16px/20px "Montserrat Regular";
  color: var(--black-color);
  vertical-align: center;
}

.contacts-form-description {
  max-width: 80%;
  font: 16px/20px "Montserrat Regular";
  letter-spacing: -0.5%;
}

.contacts-form-footer {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.contacts-form-footer-description {
  font: 12px/16px "Montserrat Regular";
  text-decoration: underline;
}

.contacts-form-footer-description strong {
  font: 12px/16px "Montserrat Bold";
}

.contacts-card {
  /* max-height: 260px; */
  /* min-height: 260px; */
  max-width: 360px;
  min-width: 280px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-self: flex-start;

  flex-basis: 360px;
  /* flex-grow: 2; */

  background-color: var(--white-color);
  border-radius: 12px;
}

.contacts-card-title {
  font: 28px/36px "Montserrat SemiBold";
  text-transform: none;
}

.contacts-card-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts-card-link {
  display: flex;
  gap: 8px;
  align-items: center;

  font: 16px/20px "Montserrat Regular";
  list-style: none;
  text-decoration: none;
  color: var(--black-color);
}

.contacts-socials-list {
  display: flex;
  gap: 32px;
}
