.dropdown-menu {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 308px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg-color); 
  z-index: 100; 
}

.dropdown-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.dropdown-menu-item {
  /* width: 200px; */
}

.dropdown-menu-link {
  /* height: 52px; */
  /* width: 100%; */
  padding-inline: 24px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: "Montserrat Regular";
  font-size: 16px/20px;
  text-transform: uppercase;
  letter-spacing: -0.5%;
  text-decoration: none;
  white-space: nowrap;
  color: var(--black-color);

  border-radius: var(--border-radius);
}

.dropdown-menu-button {
  /* margin: 44px; */
}

.cross-button {
  position: absolute;
  right: 18px;
  top: -75px;
  border-radius: var(--border-radius);
  border: 0;
  background-color: var(--bg-color);
  width: 50px;
  height: 50px;
}

.cross-button:hover {
  background-color: var(--bg-color);
}
.cross-button::before,
.cross-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 7px;
  width: 70%;
  height: 2px;
  background-color: var(--black-color);
  border-radius: 5px;
}

.cross-button::before {
  rotate: 45deg;
}

.cross-button::after {
  rotate: -45deg;
}