.footer {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 900;
}

.footer .container {
  max-width: 100%;
  height: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  background-color: var(--gray-color);
  color: var(--white-color);
}

.footer-logo {
  width: 140px;
  height: 24px;

  background-image: url('/assets/images/footer-logo.svg');
  fill: var(--white-color);
}