.guarantee-items {
  height: 600px;
  width: 100%;
  
  display: grid;
  grid-template-columns: repeat(4, 25%); /* 4 колонки одинаковой ширины */
  grid-template-rows: repeat(4, 25%); /* 2 строки одинаковой высоты */

  background-image: url("/assets/images/guarantee.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-origin: border-box;
  background-position: center;
}

.guarantee-title {
  font: 44px/56px "Montserrat Medium";
  text-align: center;
}

.guarantee-item {
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 1.3vw;
}

.guarantee-item-title {
  display: flex;
  gap: 1.3vw;
  align-items: center;
}

.guarantee-item-title svg {
  height:  clamp(1rem, 2vw, 1.5rem);
  width: auto;
}

.guarantee-item-title h3 {
  margin: 0;

  font-size:  clamp(1rem, 2vw, 1.5rem);
  line-height: 30px;
  font-family: "Montserrat Medium";
}

.guarantee-item p {
  font: 16px/20px "Montserrat Regular";
}

.guarantee-item-5 {
  padding-top: 0;
  grid-area: 2 / 1 / 3 / 2;
}
.guarantee-item-6 {
  padding-top: 0;
  grid-area: 2 / 2 / 3 / 3;
}
.guarantee-item-15 {
  padding-bottom: 0;
  grid-area: 3 / 3 / 3 / 4;
}
.guarantee-item-16 {
  padding-bottom: 0;
  grid-area: 3 / 4 / 4 / 5;
}
