.header {
  position: fixed;
  left: 0;
  right: 0;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0;

  z-index: 1000;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


.header-dropdown {
  width: 24px;
  height: 24px;

  align-self: center;

  background-image: url('/renuflat/assets/images/dropdown-triangle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-header {
  max-width: 1200px;
  width: 100%;
  /* min-height: var(--header-height); */
  margin: auto;
  padding: 20px;  

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  background-color: var(--bg-color) ;
}

.main-header-logo {
  height: 50px;
  flex-shrink: 0;
  
  display: flex;
  align-items: center;
}

.main-header-logo-image {
  width: 140px;
  height: 24px;

  background-image: url('/renuflat/assets/images/logo.svg');
  fill: var(--orange-color);
}

.main-header-menu-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  padding: 0 24px;
  
  background-color: var(--white-color);
  border-radius: var(--border-radius);
}

.main-header-menu-link {
  height: 52px;

  display: inline-flex;
  align-items: center;

  text-decoration: none;
  font-family: "Montserrat Regular";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5%;
  color: var(--black-color);
}

.main-header-menu-link p {
  margin: 0;
  /* vertical-align: center; */
}

.main-header-burger-button {
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  width: 40px;
  aspect-ratio: 1;
  /* padding-left: 8px; */
  color: var(--color-light);
  background-color: transparent;
  border: none;
}

.main-header-burger-button:hover {
  color: var(--black-color);
  background-color: var(--bg-color);
  /* border-color: currentColor; */
}

.main-header-burger-button-line {
  width: 20px;
  height: 2px;
  background-color: currentColor;
  /* box-shadow: 16px 0 0 currentColor; */
}

.sub-header-item.sub-menu {
  position: relative;
}

.sub-menu-list {
  padding: 10px;

  position: absolute;
  z-index: 5000;

  text-transform: none;
  background-color: var(--bg-color);
}

.main-header-menu .sub-menu-list{
  background-color: var(--white-color);
}

.sub-menu {
  transition: all 0.5s;
}


