
.hero {
  height: 854px;
  padding-bottom: 64px;
  box-sizing: border-box;

  display: flex;
  gap: 32px;
  /* для media-запроса изменить flex-wrap! */

  background-image: url("/assets/images/interior-design-zoom-calls-with-plants\ 1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-origin: content-box;
  background-position: bottom;
}

.hero-title {
  margin: 0;
  /* width: 370px; */

  font: 80px/100px "Montserrat Medium", sans-serif;
}

.hero-content {
  /* width: 470px; */
  padding-top: 20px;

  flex-basis: 1;

  display: flex;
  flex-direction: column;

  font: 16px/20px "Montserrat Regular", sans-serif;
}

.hero-description {
  margin: 0;
  padding: 0;
  /* width: 364px; */
}

.hero-footer {
  padding-top: 48px;

  display: flex;
  align-items: center;
  gap: 24px;
}

.hero-footer button {
  /* width: 246px; */
  background-color: var(--orange-color);
  height: 52px;
  /* appearance: none; */
  border: 0;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  color: var(--white-color);
}

.hero-footer-description {
  /* width: 200px; */
  margin: 0;
  color: var(--gray-color);
  font:  12px/16px "Montserrat Regular", sans-serif;
}