.projects .container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.projects-title {
  margin: 0;
  max-width: 50%;

  font: 44px/56px "Montserrat Medium";
}

.project-banner {
  padding: 16px 24px;

  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 2;

  display: inline-flex;
  align-items: center;
  gap: 16px;

  border-radius: var(--border-radius);
  background-color: var(--bg-color);
}

.project-banner p {
  margin: 0;

  /* font: 16px/20px ""; */
}

.project-area {
  display: flex;
  align-items: center;
  font: 14px/20px "Montserrat Bold";
  color: var(--orange-color);
}

.project-area::before {
  content: url(/assets/images/project-area-icon.png);
  padding-right: 8px;
}

.project-period  {
  display: flex;
  align-items: center;
  font: 14px/20px "Montserrat Bold";
  color: var(--orange-color);
}

.project-period::before {
  padding-right: 8px;
  content: url(/assets/images/project-period-icon.png);
}


.project-button {
  position: absolute;
  bottom: 24px;
  left: 24px;
  z-index: 2;
}

.projects-pagination-button {
  align-self: center;
}

.swiper {
  position: relative;

  width: 100%;
  height: auto;

  border-radius: 12px;

  --swiper-navigation-color: var(--white-color);
  --swiper-pagination-color: var(--white-color);
}

/* .swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  width: 100%;
} */

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination-bullet {
  margin-inline: 8px !important;
  width: 32px !important;
  height: 4px !important;
  background: var(--white-color) !important;
  opacity: 1 !important;
  border-radius: 100px !important;
}

.swiper-pagination-bullet-active {
  background: var(--orange-color) !important;
  opacity: 1 !important;
}


