.projects .container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.projects-title {
  margin: 0;
  max-width: 50%;

  font: 44px/56px "Montserrat Medium";
}

.project {
  position: relative;
}

.project-banner {
  padding: 16px 24px;

  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 2;

  display: inline-flex;
  align-items: center;
  gap: 16px;

  border-radius: var(--border-radius);
  background-color: var(--bg-color);
}

.project-banner p {
  margin: 0;
}

.project-area, .project-period {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 14px;
  line-height: 20px;
  font-family: "Montserrat Bold";
  color: var(--orange-color);
  white-space: nowrap;
}

.project-button {
  position: absolute;
  bottom: 24px;
  left: 24px;
  z-index: 2;
}

.projects-pagination-button {
  align-self: center;
}

.swiper {
  border-radius: 12px;

  --swiper-navigation-color: var(--white-color);
  --swiper-pagination-color: var(--white-color);
}

.swiper-pagination-bullet {
  margin-inline: 8px !important;
  width: 32px !important;
  height: 4px !important;
  background: var(--white-color) !important;
  opacity: 1 !important;
  border-radius: 100px !important;
}

.swiper-pagination-bullet-active {
  background: var(--orange-color) !important;
  opacity: 1 !important;
}


