.reviews .container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: center;
  align-items: center;
}

.reviews-title {
  /* max-width: 600px; */
  align-self: start;

  font: 44px/56px "Montserrat Medium";
  text-transform: uppercase;
  /* text-align: center; */
}

.reviews-description {
  font-size: 24px;
  line-height: 32px;
}

.reviews-cards {
    width: 100%;
    overflow-x: auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
}

.reviews-card {
  position: relative;

  padding: 16px;
  max-height: 260px;
  min-height: 260px;
  max-width: 360px;
  width: 30%;
  min-width: 280px;
  flex-grow: 2;
  /* flex: 0 0 33%; */

  display: flex;
  flex-direction: column;
  gap: 24px;

  border-radius: 12px;
  background-color: var(--white-color);
  overflow: hidden;

  transition: height 4s;
}

.reviews-card-after {
  /* content: ""; */

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 32px;

  background: linear-gradient(180deg, transparent, var(--white-color) 70%);
  cursor: pointer;

  transition: all 0s;
}

.reviews-card-after:hover {
  background: linear-gradient(180deg, transparent, #f1f1f1 90%);
  height: 52px;

  /* transition: all 0s; */
}

.reviews-card-header {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.reviews-card-header-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reviews-card-description {
  font: 14px/20px "Montserrat Bold";
}

.reviews-card-text {
  font: 16px/20px "Montserrat Regular";

  /* cursor: pointer; */
}