.services > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  /* gap: 30px; */
}

.services-title {
  /* margin-top: 6rem; */
  margin-bottom: 24px;

  font-family: "Montserrat Medium";
  font-size: 44px;
  line-height: 56px;
  text-transform: uppercase;
  text-align: center;
}

.tabs {
  margin-bottom: 64px;

  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;

  border-radius: var(--border-radius);

  background-color: var(--white-color);
}

.tab-button {
  border: 0;
}

.tab-button[tabindex="0"] {
  background-color: var(--orange-color);
  color: var(--white-color);
  font-size: 12px;
  line-height: 16px;
  font-family: "Montserrat Bold";
}

.tab-button[tabindex="-1"]  {
  background-color: var(--white-color);
  color: var(--black-color);
  font-size: 12px;
  line-height: 16px;
  font-family: "Montserrat Regular";
}

.services-cards {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: clamp(20px, 3vw, 40px);
}

.services-tabpanel {
  display: none;
}

.services-tabpanel.active {
  display: block;
}

.services-card {
  /* max-width: 360px; */
  min-width: 280px;
  flex: 1 0 30%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;

  border-radius: 12px;
  overflow: hidden;
  background-color: var(--white-color);
}

.services-card-bottom {
  padding: 0 16px 16px 16px;

  display: flex;
  flex-direction: column;
}

.services-card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: bottom;
  /* overflow: hidden; */
}

.services-card-body {
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.services-card-title {
  font-size: clamp(20px, 2.1vw, 24px);
  line-height: 1.25;
  font-family: "Montserrat Medium";
  letter-spacing: -0.5%;
  text-transform: none;
  white-space: nowrap;
}

.services-card-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.services-card-chips-description {
  flex: 1 0 100%;

  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat Regular";
  letter-spacing: -0.5%;
}

.services-card-chips-item {
  padding: 8px;

  border: 1px solid var(--gray-color);
  border-radius: 30px;
  color: var(--gray-color);
  white-space: nowrap;
  font: 12px/16px "Montserrat SemiBold";
  background-color: transparent;
  cursor: default;
}

.services-card-button {
  margin-top: 32px;
}

.services-card-price {
  font: 28px/36px "Montserrat SemiBold", sans-serif;
}

.services-card-period {
  font: 24px/30px "Montserrat Medium", sans-serif;
}
