body {
  background-color: var(--bg-color);
  max-width: 1200px;
  min-width: 360px;
  width: 100%;
  margin: 0 auto;

  font: var(--font-regular-size)/var(--font-regular-line-height) "Montserrat Regular";
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

p {
  padding: 0;
  margin: 0;
}

img {
  pointer-events: none;
}

main {
  padding-top: calc(var(--header-height) + 40px);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: var(--container-padding-x);
}

section {
  padding-top: 65px;
  padding-bottom: 65px;
}

.fixed-buttons {
  position: fixed;
  right: 35px;
  bottom: 20px;
  z-index: 3000;

  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  /* gap: 20px; */
}



.fixed-buttons:last-child {
  margin-top: 20px;
}

.chat-button {
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 43px;
  background-color: var(--orange-color);
  border: none;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25);
}

#chat-button {
  width: 64px;
  height: 64px;
}

#chat-button > .icon > img {
  width: 36px;
  height: 36px;
}

.chat-button > .icon > img {
  width: 32px;
  height: 32px;
}

.chat-button:nth-child(2) {
  position: absolute;
  right: 84px;
}

.chat-button:nth-child(3) {
  position: absolute;
  /* display: none; */
  bottom: 58px;
  right: 55px;
}

.scroll-button {
  position: relative;

  width: 86px;
  height: 86px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--orange-color);
  border-radius: 43px;
  border: none;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25);
}

.scroll-button:hover,
.chat-button:nth-child(1):hover {
  box-shadow: 0 0 11px 11px rgba(251, 155, 42, 0.5);
}

.chat-button:hover {
  box-shadow: 0 0 8px 8px rgba(251, 155, 42, 0.5);
}

.hide, .hide * {
  /* display: none; */
  /* visibility: hidden; */
  max-height: 0;
  opacity: 0;
  animation: hide 0.3s;
}

.scroll-button.hide {
  display: none;
  animation: none;
}

.active {
  animation: show 0.3s;
}

.show {
  animation: show 0.2s;
}

.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.2s;
}

body * {
  transition: all 0.2s;
}

@keyframes open {
  from {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
  
  to {
    opacity: 1;
    display: block;
    visibility: visible;
  }
}

@keyframes hide {
  from {
    opacity: 1;
    visibility: visible;
    display: block;
  }

  to {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}