body {
  background-color: var(--bg-color);
  max-width: 1200px;
  min-width: 360px;
  width: 100%;
  margin: 0 auto;

  font: var(--font-regular-size)/var(--font-regular-line-height) "Montserrat Regular";
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
}

a:hover {
  cursor: pointer;
}

/* p {
  padding: 0;
  margin: 0;
} */

main {
  padding-top: var(--header-height);
}

.container {
  /* margin: 0 auto; */
  padding: var(--container-padding-y) var(--container-padding-x);
}