body {
  background-color: var(--bg-color);
  max-width: 1200px;
  min-width: 360px;
  width: 100%;
  margin: 0 auto;

  font: var(--font-regular-size)/var(--font-regular-line-height) "Montserrat Regular";
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

p {
  padding: 0;
  margin: 0;
}

main {
  padding-top: calc(var(--header-height) + 40px);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: var(--container-padding-x);
}

section {
  padding-top: 65px;
  padding-bottom: 65px;
}


.chat-button {
  z-index: 3000;
  position: fixed;
  right: 35px;
  bottom: 20px;
  width: 64px;
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 43px;
  background-color: var(--orange-color);
  border: none;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25);
}

.scroll-button {
  z-index: 3000;
  position: fixed;
  right: 20px;
  bottom: 116px;
  width: 86px;
  height: 86px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--orange-color);
  border-radius: 43px;
  border: none;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25);
}

.scroll-button:hover,
.chat-button:hover {
  box-shadow: 0 0 11px 11px rgba(251, 155, 42, 0.5);
}

.hide {
  display: none;
  visibility: hidden;
  max-height: 0;
  opacity: 0;
}

.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.2s;
}

body * {
  transition: all 0.2s;
}