@import url('normalize.css');
@import url('variables.css');
@import url("fonts.css");
@import url('globals.css');
@import url('/assets/styles/blocks/header.css');
@import url('media.css');








header {
  padding-bottom: 8px;
}

header nav {
  height: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 24px;
  width: 140px;
  background-image: url("/assets/images/logo.png");
  background-repeat: no-repeat;
}

nav ul {
  padding: 0 30px;
  height: 52px;
  margin: 0;

  display: flex;
  align-items: center;
  gap: 20px;

  background-color: var(--white-color);
  list-style: none;
  border-radius: 30px;
}

header a {
  text-decoration: none;
  color: var(--main-font-color);
}

header nav button {
  height: 52px;
  padding: 0 24px;
  appearance: none;
  border: 1px solid var(--orange-color);
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
}

.hero {
  height: 854px;
  padding-bottom: 64px;
  box-sizing: border-box;

  display: flex;
  gap: 32px;
  /* для media-запроса изменить flex-wrap! */

  background-image: url("/assets/images/interior-design-zoom-calls-with-plants\ 1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-origin: content-box;
  background-position: bottom;
}

.hero-title {
  margin: 0;
  width: 370px;

  font: 80px/100px "Montserrat Medium", sans-serif;
}

.hero-content {
  width: 470px;
  padding-top: 20px;

  flex-basis: 1;

  display: flex;
  flex-direction: column;

  font: 16px/20px "Montserrat Regular", sans-serif;
}

.hero-description {
  margin: 0;
  padding: 0;
  width: 364px;
}

.hero-footer {
  padding-top: 48px;

  display: flex;
  align-items: center;
  gap: 24px;
}

.hero-footer button {
  width: 246px;
  background-color: var(--orange-color);
  height: 52px;
  /* appearance: none; */
  border: 0;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  color: var(--white-color);
}

.hero-footer-description {
  width: 200px;
  margin: 0;
  color: var(--gray-color);
  font:  12px/16px "Montserrat Regular", sans-serif;
}

.services {
  margin-bottom: 40px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  text-align: center;
}

.services h2 {
  margin: 0;
  font: 44px/56px "Montserrat Medium";
}

.card {
  /* width: 30%; */
  height: 536px;
  padding: 16px;
  gap: 16px;
  box-sizing: border-box;

  flex: 0 1 30%;

  justify-content: end;
  align-items: start;

  border-radius: 20px;

  background-color: var(--white-color);
}

.card-description {
  font: 16px/20px "Montserrat Regular";
}

.card-title {
  font: 24px/30px "Montserrat Medium";
}

.card:nth-child(1) {
  background-image: url("/assets/images/card_1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-origin: border-box;
  background-position: top;
  
}

.card:nth-child(2) {
  background-image: url("/assets/images/card_2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-origin: border-box;
  background-position: top;
}

.card:nth-child(3) {
  background-image: url("/assets/images/card_3.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-origin: border-box;
  background-position: top;
}

.card-disabled-button {
  border: 1px solid var(--gray-color);
  border-radius: 30px;
  color: var(--gray-color);
  white-space: nowrap;
  padding: 8px;
  font: 12px/16px "Montserrat SemiBold";
}

.services-button {
  width: 100%;
  background-color: var(--orange-color);
  height: 52px;
  /* appearance: none; */
  border: 0;
  border-radius: 50px;
  font: 16px/20px "Montserrat Bold";
  text-align: center;
  box-sizing: border-box;
  color: var(--white-color);
}

.price {
  font: 28px/36px "Montserrat SemiBold", sans-serif;
}

.period {
  font: 24px/30px "Montserrat Medium", sans-serif;
}

.guarantee {
  height: 566px;
  padding-bottom: 34px;
  background-image: url("/assets/images/guarantee.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-origin: border-box;
  background-position: center;

  position: relative;

  grid-template-columns: repeat(4, 1fr); /* 4 колонки одинаковой ширины */
  grid-template-rows: repeat(2, 1fr); /* 2 строки одинаковой высоты */
  /* width: 100%; */
  grid-gap: 40px;
  /* height: 100vh; */
}

.guarantee-title {
  position: absolute;
  font: 44px/56px "Montserrat Medium";
}

.guarantee-item {
  display: flex;
  flex-direction: column;
  /* padding: 0 20px; */
  
}

.guarantee-item h4 {
  margin: 0;
  font: 24px/30px "Montserrat Medium";
}

.guarantee-item p {
  font: 16px/20px "Montserrat Regular";
}

.item-1 {
  /* padding-bottom: 20px; */
  grid-area: 1 / 1 / 2 / 2;
  justify-content: flex-end;
}

.item-2 {
  /* padding-bottom: 20px; */
  grid-area: 1 / 2 / 2 / 3;
  justify-content: flex-end;
}

.item-7 { grid-area: 2 / 3 / 3 / 4; }
.item-8 { grid-area: 2 / 4 / 3 / 5; }