/* desktop */
@media (min-width: 1200px) {
  .desktop-hidden {
    display: none;
  }

  .mobile-hidden {
    display: inherit;
  }
}

/* table */
@media (min-width: 768px) and (max-width: 1199px) {
  .desktop-hidden {
    display: none;
  }

  .mobile-hidden {
    display: inherit;
  }
}

/* mobile */
@media (max-width: 767px) {
  .desktop-hidden {
    display: inherit;
  }

  .mobile-hidden {
    display: none;
  }

  .container {
    width: 360px;
    padding-inline: 16px;
  }

  main {
    padding-top: 252px;
  }

  section {
    padding: 44px 0;
  }

  .main-header {
    padding: 0;
    flex-direction: column;
    gap: 16px;
  }

  .main-header-menu-list {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;

    background-color: var(--bg-color);
  }

  .main-header-logo-image {
    width: 120px;
    height: 20px;
    /* background-image: url(/assets/images/logo.svg); */
    background-repeat: no-repeat;
    background-size: contain;
  }

  .main-header-menu .sub-menu-list {
    background-color: var(--bg-color);
  }

  .main-header-head {
    width: 100%;
  }

  .main-header-menu-link {
    /* padding: 0; */
    text-transform: uppercase;
  }

  .main-header-button {
    margin-bottom: 24px;
  }

  .sub-header-list {
    padding-right: 8px;

    flex-direction: column;
    align-items: start;
  }

  .sub-header-divider {
    width: 100%;
    height: 1px;
    margin: 0;
    border: 0.5px solid var(--light-grey-color);
  }

  .banner {
    padding-top: 0;
  }

  .banner .container {
    /* position: relative; */

    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    /* row-gap: 16px; */
    grid-gap: 16px;
    /* height: auto; */
    /* margin-top: 44px; */
    padding-top: 44px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0; */


    /* border-radius: 15px; */

    /* background-image: url("/assets/images/banner.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-origin: content-box;
    background-position: right; */
  }

  .banner-title {
    padding-top: 24px;

    grid-row: 1/2;
    grid-column: 1/1;

    font: 44px/56px "Montserrat SemiBold";
    text-align: center;
  }

  .banner-description {
    grid-row: 2/3;
    grid-column: 1/1;
    /* padding: 0; */
    text-align: center;
  }

  .banner-footer {
    padding-top: 8px;

    grid-row: 4/5;
    grid-column: 1/1;

    text-align: center;
    justify-content: center;
  }

  .banner-footer-description {
    /* text-align: center; */
  }

  .banner-image {
    /* display: none; */
    grid-row: 1/4;
    grid-column: 1/1;

    /* position: absolute;
    top: -24px;
    left: 0; */

    height: 428px;
    width: auto;

    content: url(/assets/images/banner-mobile.png);
    object-fit: cover;
    object-position: bottom right;
    box-sizing: content-box;
    border-radius: 15px;
    
    z-index: -1;
  }

  .banner-image > img {
    
  }
}