/* desktop */
@media (min-width: 1200px) {
  .desktop-hidden {
    display: none !important;
  }

  /* .mobile-hidden {
    display: inherit;
  } */
}

/* table */
@media (min-width: 768px) and (max-width: 1199px) {
  .desktop-hidden {
    display: none !important;
  }

  /* .mobile-hidden {
    display: inherit;
  } */
}

/* mobile */
@media (max-width: 767px) {
  /* .desktop-hidden {
    display: block !important;
  } */

  .mobile-hidden {
    display: none !important;
  }

  .container {
    /* width: 360px; */
    max-width: 360px;
    padding-inline: 16px;
  }
  /* TODO */
  main {
    padding-top: 252px;
  }

  section {
    padding: 44px 0;
  }

  /* HEADER */
  .main-header {
    padding: 0;
    flex-direction: column;
    gap: 16px;
  }

  .main-header-menu-list {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;

    background-color: var(--bg-color);
  }

  .main-header-logo-image {
    width: 120px;
    height: 20px;

    background-repeat: no-repeat;
    background-size: contain;
  }

  .main-header-menu .sub-menu-list {
    background-color: var(--bg-color);
  }

  .main-header-head {
    width: 100%;
  }

  .main-header-menu-link {
    text-transform: uppercase;
  }

  .main-header-button {
    margin-bottom: 24px;
  }

  .sub-header-list {
    padding-right: 8px;

    flex-direction: column;
    align-items: start;
  }

  .sub-header-divider {
    width: 100%;
    height: 1px;
    margin: 0;
    border: 0.5px solid var(--light-grey-color);
  }

  /* BANNER */
  .banner {
    padding-top: 0;
  }

  .banner .container {
    padding-top: 44px;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 16px;
  }

  .banner-title {
    padding-top: 24px;

    grid-row: 1/2;
    grid-column: 1/1;

    font: 44px/56px "Montserrat SemiBold";
    text-align: center;
  }

  .banner-description {
    grid-row: 2/3;
    grid-column: 1/1;
    text-align: center;
  }

  .banner-footer {
    padding-top: 8px;

    grid-row: 4/5;
    grid-column: 1/1;

    text-align: center;
    justify-content: center;
  }

  .banner-image {
    z-index: -1;
    height: 428px;
    width: auto;

    grid-row: 1/4;
    grid-column: 1/1;

    content: url(/assets/images/banner-mobile.png);
    /* object-fit: cover;
    object-position: bottom right;
    box-sizing: content-box; */
    border-radius: 15px;
    
  }

  /* SERVICES */
  .services-cards {
    flex-direction: column;
    gap: 32px;
  }

  .services-card-title {
    font-size: 22px;
    line-height: 28px;
    font-family: "Montserrat SemiBold";
  }

  .services-card-chips-description  {
    font-size: 16px;
    line-height: 20px;
    font-family: "Montserrat Regular";
  }

  .services-card-chips-item {
    font-size: 10px;
    line-height: 16px;
    font-family: "Montserrat Bold";
  }

  .services-card-price {
    font: 24px/36px "Montserrat SemiBold";
  }
  
  .services-card-period {
    font: 22px/28px "Montserrat Medium";
  }

  /* GUARANTEE */
  .guarantee-title {
    margin-bottom: 32px;

    font: 28px/36px "Montserrat SemiBold";
    letter-spacing: 0;
    text-align: center;
  }

  .guarantee-item-title {
    gap: 16px;
  }

  .guarantee-item-title h3 {
    font-size:  22px;
    line-height: 28px;
    font-family: "Montserrat SemiBold";
    letter-spacing: -0.5%;
  }

  .guarantee-items {
    padding-inline: 16px;
    height: auto;
    width: 100%;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: 44px;

    background-image: url(/assets/images/guarantee-mobile.svg);
    background-position: center;
    background-size: contain;
  }

  .guarantee-item {
    padding: 0;
    gap: 16px;
  }
  .guarantee-item-5 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .guarantee-item-6 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .guarantee-item-15 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .guarantee-item-16 {
    grid-area: 4 / 2 / 5 / 1;
  }

  /* PROJECTS */
  .projects .container {
    padding-inline: 4px;
  }

  .projects-title {  
    max-width: 100%;

    font: 28px/36px "Montserrat SemiBold";
    text-align: center;
  }

  .project {
    display: flex;
    flex-wrap: wrap;
  }

  .project-banner {
    top: 16px;
    left: 16px;
    padding: 12px;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 12px;
    column-gap: 16px;

    border-radius: 12px;
  }

  .project-banner div:first-child {
    font: 16px/20px "Montserrat SemiBold";
    letter-spacing: -0.5%;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .project-area {
    /* display: flex; */
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .project-price {
    /* display: flex; */
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .project-button {
    position: static;
    width: 100%;
    margin: 12px 12px 0px 12px;
  }

  /* REVIEWS */
  .reviews .container {
    max-width: max-content;

    gap: 32px;
  }

  .reviews-title {
    max-width: 300px;
    font: 28px/36px "Montserrat SemiBold";
  }
  .reviews-cards {
    gap: 12px;
  }

  .reviews-card {
    max-height: 340px;
    max-width: 280px;
  }

  /* CONTACTS */
  .contacts .container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

  .contacts-card-title {
    max-width: 300px;
    font: 28px/36px "Montserrat SemiBold";
    text-transform: uppercase;
    text-align: center;
  }

  .contacts-container {
    gap: 16px;
  }

  .contacts-form {
    gap: 24px;
  }

  .contacts-form-title {
    font: 22px/28px "Montserrat SemiBold";
  }

  .contacts-form-description {
    max-width: 100%;
    
  }

  .contacts-form-input {
    max-width: 100%;
  }

  .contacts-form-footer {
    flex-direction: column;
  }

  /* RENOVATIONS */

  .tabs{
    margin: 0;
    width: 100%;

    flex-direction: column;
    border-radius: 24px;
  }

  .renovations-card {
    padding: 0;
    overflow: hidden;

    flex-direction: column;
    gap: 16px;

    border-radius: 12px;
  }

  .renovations-image {
    order: -1;
  }

  .renovations-body {
    padding: 0 16px 24px 16px;

    gap: 16px;
  }

  .renovations-body-title {
    /* text-transform: none; */
    font-family: "Montserrat SemiBold";
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.5%;
  }

  .renovations-item-title {
    
  
    text-transform: none;
    font-family: "Montserrat SemiBold";
    font-size: 18px;
    line-height: 36px;
  }

  .renovations-item {
    flex-wrap: wrap;
  }

  .renovations-item-price {
    /* flex-basis: 100%; */
    order: 3;
  }

  .renovations-body-button {
    margin-top: 16px;
  }
}