:root {
  --bg-color: #f4f4f4;
  --black-color: #333;
  --white-color: #fefefe;
  --orange-color: #FB9B2A;
  --gray-color: #9E9E9E;

  --container-width: 1200px;
  --container-padding-x: 20px;

  --border: 1px solid var(--orange-color);
  --border-radius: 100px;

  --font-regular-size: 14px;
  --font-regular-line-height: 20px;

  --header-height: 100px;
}